*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

a.hover{

    cursor: pointer;
    color:#EC7063;
}

h2{
    font-size: 24px;
    margin-bottom: 18px;
}

h3{
    font-size: 18px;
    font-weight: 400 ;
}

#inicio{
    height: 70vh;
    width: 100%;
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
}

#lista-principal{
    height: 10vh;
}

.ulista{
    font-weight: 600;
    list-style: none;

}

#portada{
    height: 60vh;
    background-color: #EC7063;
    padding-left: 10%;
    padding-top: 3%;
    paddin
}

#portada-imagen{
    width: 120px;
    height: 120px;

}

